<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a Mi Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Mi Quiz</h1>
<nav>
    <a href="/">Home</a>
    <a href="/credits">Credits</a>
    <a href="/quizzes">Quizzes</a>
</nav>
</body>
</html>
